<!DOCTYPE html>
<html>
  <head>
    <title>teachers List</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/teachers/create">Create Teachers </a></h3>
      <h1>Teachers List</h1>
      <% if(teachers.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Teacher Name</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<teachers.length;i++) { %>
            <tr>
              <td><a href="/teachers/show/<%= teachers[i]._id%>"><%= teachers[i].name%></a></td>
              <td><%= teachers[i].department%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No teachers found.</div>
      <% } %>
    </div>
  </body>
</html>
