<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1><a href="/employees">Add Data</a></h1>
        <h1>Add Data</h1>
        <form action="/employees/save" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                <td>Department</td>
                <td><input type="text" name="department"/></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">save data</button></td>
                </tr>
            </tbody>
        </table></form>
    </div>
</body>
</html>