<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h2><a href="/employees/create">create record</a></h2>
        <h2><a href="/employees/filter">Filter record</a></h2>
        <h1>All data list</h1>
        <% if(employees.length>0) {%>
            <table class="list-table">
                <thead>
                    <th>
                    <td>Employee name</td>
                </th>
                </thead>
                <tbody>
                    <% for(var i=0; i<employees.length;i++) {%>
                    <tr>
                        <td><a href="/employees/show/<%= employees[i]._id%>"> <td><%= employees[i].name%></a></td>
                       

                       
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <%} else {%>
            <div>No Employee found</div>
             <% } %>
    </div>
</body>
</html>