<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show employee</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1><a href="/employees">Employee List</a></h1>
        <h1>Employee List</h1>
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><%= employee.name %></td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td><%= employee.department %></td>
                </tr>
            </tbody>
        </table>
        
        <button type="submit">Filter</button>
    </div>
</body>
</html>