<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Box</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1><a href="/tests">Search Record</a></h1>
    <h3>Search From Record</h3>
    <form action="/tests/show" method="post"></form>
    <table>
        <tbody>
            <tr>
                <td>course</td>
                <td><input type="search" name="course" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Search</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>