<html>
	<head>
			<title>Practice</title>
	</head>
	<body>	
		<table border="1" >
    </body>
    <a href="/">Users</a>&nbsp;&nbsp;&nbsp;
    <a href="/students">Students</a>&nbsp;&nbsp;&nbsp;
    <a href="/teachers">Teachers</a>&nbsp;&nbsp;&nbsp;
    <a href="/employees">Employes</a>&nbsp;&nbsp;&nbsp;
</html>
			